<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card my-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #weddingAdd="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="wedding.name"
                     class="form-control"
                     id="name"
                     name="name"
                     placeholder="Enter your name"
                     required #name="ngModel">
            </div>
            <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" [(ngModel)]="wedding.address"
                     class="form-control"
                     id="address"
                     name="address"
                     placeholder="Enter address"
                     required #address="ngModel">
            </div>
            <div [hidden]="!address.pristine" class="alert alert-danger">Address is required</div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" [(ngModel)]="wedding.description"
                     class="form-control"
                     id="description"
                     name="description"
                     placeholder="Enter description"
                     required #description="ngModel">
            </div>
            <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
            <div class="form-group">
              <label for="mail">Mail</label>
              <input type="text" [(ngModel)]="wedding.mail"
                     class="form-control"
                     id="mail"
                     name="mail"
                     placeholder="Enter description"
                     required #mail="ngModel">
            </div>
            <div [hidden]="!mail.pristine" class="alert alert-danger">Mail is required</div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" [(ngModel)]="wedding.phone"
                     class="form-control"
                     id="phone"
                     name="phone"
                     placeholder="Enter phone"
                     required #phone="ngModel">
            </div>
            <div [hidden]="!phone.pristine" class="alert alert-danger">Phone is required</div>
            <div class="form-group">
              <label for="phone">Website</label>
              <input type="text" [(ngModel)]="wedding.website"
                     class="form-control"
                     id="website"
                     name="website"
                     placeholder="Enter website"
                     required #website="ngModel">
            </div>
            <div [hidden]="!website.pristine" class="alert alert-danger">Website is required</div>

            <div class="form-group">

              <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                <span>{{ progressInfo.fileName }}</span>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-info progress-bar-striped"
                    role="progressbar"
                    attr.aria-valuenow="{{ progressInfo.percentage }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [ngStyle]="{ width: progressInfo.percentage + '%' }"
                  >
                    {{ progressInfo.percentage }}%
                  </div>
                </div>
              </div>

              <label class="btn btn-default">
                <input type="file" accept="image/*" multiple (change)="selectPhoto($event)" />
              </label>
            </div>
            <div class="btn-group">
              <a (click)="getAll()"
                 class="btn btn-secondary mx-1">Back
              </a>
              <button type="submit" [disabled]="!weddingAdd.form.valid"
                      class="btn btn-info">Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
