.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
}

.file {
  visibility: hidden;
  position: absolute;
}
/*
codul de mai jos ascunde inputul urat la choose file
 */
input[type="file"] {
  display: none;
}
