<nav class="navbar navbar-expand-md navbar-light bg-light mb-0 border">
      <a href="#" class="navbar-brand">Home&nbsp;&nbsp; |</a>
      <a href="#" class="navbar-brand">Restaurante&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Formatii nunta&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Cazare&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Cofetarii&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Pizzerii&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Politica de confidentialitate&nbsp;&nbsp;  |</a>
      <a href="#" class="navbar-brand">Publicitate pe site</a>

    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link">Designed by Tavi & Lavinia</a>
    </div>
</nav>
