<div class="container my-2">
  <div class="card my-2">
    <div class="card-body">
      <div class="row  margin-10px-bottom" >
        <div class="col-lg-5 col-sm-12">
          <div class="position-relative">
            <img   *ngIf="photos | async as photos"     [src]="photos[0].url"   alt="">
          </div>
        </div>
        <div class="col-lg-7 col-sm-12">
          <div class="ml-5">
            <p><strong>Adresa: </strong>{{resturant.address}}</p>
            <p><strong>Telefon: </strong>{{resturant.phone}}</p>
            <p><a href="{{resturant.website}}">{{resturant.website}}</a></p>
          </div>
      </div>
      <div class="col-lg-12 col-sm-12">
          <p>{{resturant.description}}</p>
      </div>
    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">

    </div>
  </div>
  <div class="card my-2">
    <div class="card-body">
  <div id="map"></div>
    </div>
</div>
</div>
