<div class="container float-left">
  <div class="card my-2 ">
    <div class="card-header bg-danger text-light text-center w-100">Cauta</div>
    <div class="card-body">
      <div class="btn-group">
        <input type="text" class="form-control " placeholder="">
        <button type="submit" class="btn btn-danger tvx">Ok</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a href="">
      <img src="assets/photoMenuLeft/solicita-oferta.gif">
      </a>
    </div>
  </div>
<div class="card">
<div class="list-group">
  <a href="" class="list-group-item list-group-item-dark">Restaurante</a>
  <a href="weddingBandList" class="list-group-item list-group-item-dark">Formatii nunta</a>
  <a href="accomodationList" class="list-group-item list-group-item-dark">Cazare</a>
  <a href="confectionerList" class="list-group-item list-group-item-dark">Cofetarii</a>
  <a href="pizzeriaList" class="list-group-item list-group-item-dark">Pizzerii</a>
</div>
</div>


  <div class="card">
    <div class="card-body">
      <a href="">
        <img src="assets/photoMenuLeft/3016Banner%20%20Hanul%20Andritei.jpg">
      </a>
    </div>
  </div>
</div>


