<div class="container float-left">
  <div class="card-group">
    <div class="card-header bg-danger text-light text-center w-100">Cauta</div>
  <div class="card">
    <div class="card-body">
      <div class="btn-group">
        <input type="text" class="form-control " placeholder="" [(ngModel)]="key" [ngModelOptions]="{standalone: true}">
        <button type="submit" class="btn btn-danger tvx" (click)="goToSearch()">Ok</button>
      </div>
    </div>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
      <a href="">
        <img src="assets/photoMenuLeft/solicita-oferta.gif">
      </a>
    </div>
  </div>
  <div class="card">
    <div class="list-group">
      <a href="" class="list-group-item list-group-item-dark">Restaurante</a>
      <a href="weddingBandList" class="list-group-item list-group-item-dark">Formatii nunta</a>
      <a href="accomodationList" class="list-group-item list-group-item-dark">Cazare</a>
      <a href="confectionerList" class="list-group-item list-group-item-dark">Cofetarii</a>
      <a href="pizzeriaList" class="list-group-item list-group-item-dark">Pizzerii</a>
    </div>
  </div>

  <div class="card">
    <div>
      <a href="">
        <img src="assets/photoMenuLeft/3016Banner%20%20Hanul%20Andritei.jpg" style="margin: 8px 8px 8px 5px;"
             width="216">
      </a>
    </div>
    <div>
      <a href="">
        <img src="assets/photoMenuLeft/Capturey.PNG" style="margin: 0px 0px 0px 0px;">
      </a>
    </div>

    <div>
      <a href="">
        <img src="assets/photoMenuLeft/Capturew.PNG" style="margin: 8px 8px 8px 5px;">
      </a>
    </div>
  </div>
  <div class="modul m_meteo">
    <div class="titlu_modul">Meteo</div>
    <iframe
      src="https://www.meteoblue.com/ro/vreme/widget/daily/craiova_rom%c3%a2nia_680332?geoloc=fixed&amp;days=4&amp;tempunit=CELSIUS&amp;windunit=KILOMETER_PER_HOUR&amp;precipunit=MILLIMETER&amp;coloured=coloured&amp;pictoicon=0&amp;pictoicon=1&amp;maxtemperature=0&amp;maxtemperature=1&amp;mintemperature=0&amp;mintemperature=1&amp;windspeed=0&amp;windspeed=1&amp;windgust=0&amp;winddirection=0&amp;winddirection=1&amp;uv=0&amp;humidity=0&amp;precipitation=0&amp;precipitation=1&amp;precipitationprobability=0&amp;precipitationprobability=1&amp;spot=0&amp;spot=1&amp;pressure=0&amp;layout=light"
      frameborder="0" scrolling="NO" allowtransparency="true"
      sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
      style="width: 216px;height: 363px"></iframe>
    <div><!-- DO NOT REMOVE THIS LINK --><a
      href="https://www.meteoblue.com/ro/vreme/prognoza/s%C4%83pt%C4%83m%C3%A2na/craiova_rom%c3%a2nia_680332?utm_source=weather_widget&amp;utm_medium=linkus&amp;utm_content=daily&amp;utm_campaign=Weather%2BWidget"
      target="_blank">meteoblue</a></div>
  </div>

  <div class="card">
    <div class="titlu">Tag Cloud</div>
    <a>Informatii utile despre restaurantele din Craiova care organizeaza nunti, botezuri, petreceri private,
      majorate,
      aniversari, parastase, restaurante nunti Craiova, locatii evenimente.</a>
  </div>
</div>



