.container{
  margin-left: 20px;
  width: 260px;
}
.form-control{
  width: 150px;
  float: left;
}
.tvx{
  float: right;
}
.tlcls{
  background-color: red;
  width: content-box;
}
.list-group{
  width: 230px;
  border-color: black;
  margin: 1px auto;
  top: 510px;

}
