<div class="card tzy bg-danger text-light  mb-2"><a class="text-light" href="">Restaurante</a></div>
<div class="container">
  <!-- start event block -->

  <div class="card-header bg-danger text-light  w-100"><strong>Restaurante</strong></div>
  <div class="row  margin-40px-bottom" *ngFor="let cl of clients">
    <div class="col-lg-12 col-sm-12"><h4><strong>{{cl.name}}</strong></h4></div>
    <div class="col-lg-4 col-sm-12">
      <div class="position-relative">
        <img   *ngIf="cl.photos | async as photos"     [src]="photos[0].url"   alt="">
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <p>{{cl.description}}</p>
      <div class="divButton">
        <button class="btn-sm btn-danger mr-0" (click)="viewRestaurant(cl.id)"><strong>Vezi Detalii</strong></button>
      </div>
    </div>
  </div>
  <!-- end event block -->


</div>
