
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Easiest Way to Add Input Masks to Your Forms</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
        rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<div class="registration-form">
  <form>
    <div class="form-icon">
      <span><i class="icon icon-user"></i></span>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control item" [(ngModel)]="user.email"
             [ngModelOptions]="{standalone: true}"
             id="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control item" [(ngModel)]="user.password"
             [ngModelOptions]="{standalone: true}"
             id="password">
    </div>
    <div class="form-group">
      <button type="submit" (click)="handleLogin()" class="btn btn-block create-account">Login</button>
    </div>
    <div id="aa">
      <p class="btn btn-block ">Don't have an account? <a (click)="goToRegister()"
                                                          class="text-primary ml-1">register</a></p>
    </div>
  </form>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

