<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<div class="container">
  <!-- start event block -->
  <div class="row align-items-center event-block no-gutters margin-40px-bottom" *ngFor="let pizza of pizzerias">
    <div class="col-lg-5 col-sm-12">
      <div class="position-relative">
        <img   *ngIf="pizza.photos | async as photos"     [src]="photos[0].url"   alt="">
      </div>
    </div>
    <div class="col-lg-7 col-sm-12">
      <div class="padding-60px-lr md-padding-50px-lr sm-padding-30px-all xs-padding-25px-all">
        <p>{{pizza.description}}</p>
        <p>{{pizza.name}}</p>
        <div class="divButton">
          <button class="btn-sm btn-danger mr-0" (click)="viewPizzeria(pizza.id)"><strong>Vezi Detalii</strong></button>
        </div>
      </div>
    </div>
  </div>
  <!-- end event block -->


</div>
