.tavinho1 { color: red;
  font-family: 'Book Antiqua' , sans-serif;
  font-size:30px; font-weight: bold;
  letter-spacing: 2px;
  line-height: 19px;
  margin-left: 1px;
  cursor: pointer;
}


.tavinho2 { color: dimgrey;
  font-family:  'Segoe UI' , fantasy;
  font-size:30px; font-weight: bolder;
  line-height: 21px;
  margin-left: 1px;
  cursor: pointer;
  letter-spacing: 1px;
}
.tavinho3{
  line-height: 0px;
}

.tavlink {
  color: dimgrey;
  font-family:  'Segoe UI' , fantasy;
  font-size:30px; font-weight: bolder;
  line-height: 0px;
  cursor: pointer;
  letter-spacing: 0px;
  margin-left: 500px;
}
.active{
  color: red;
  font-family:  'Segoe UI' , fantasy;
  font-size:30px; font-weight: bolder;
  line-height: 0px;
  cursor: pointer;
  letter-spacing: 0px;
  margin-left: 500px;
  text-decoration: underline;
}
