
<nav class="navbar navbar-expand-md navbar-light bg-light nvbr1">
  <a href="#" class="nav-item nav-link active .text-wrap tav"><h1 class="rest1">Restaurante</h1>
    <h1 class="rest2">Craiova</h1></a>

    <div class="ml-auto mt-0" style="margin-top: 1px">
      <button type="button" class="btn btn-danger ml-1 .text-wrap">Home</button>
      <button type="button" class="btn btn-danger ml-1">Restaurante</button>
      <button type="button" class="btn btn-danger ml-1">Solicitare Eveniment</button>
      <button type="button" class="btn btn-danger ml-1">Publicitate pe Site</button>
    </div>
  <br/>

</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light tav2">
  <div class="navbar ">
    <a class="tavlink"><h1>www.restaurante-craiova.ro</h1></a>
  </div>
</nav>

