
<nav class="navbar ">
  <div>
    <a (click)="goToHome()">
    <h1 class="tavinho1">RESTAURANTE</h1>
     <h2 class="tavinho2">CRAIOVA</h2>
    </a>
  </div>


    <div class="ml-0 tavinho3 mt-0" >
      <button type="button" class="btn btn-danger ml-1 .text-wrap" >Home</button>
      <button type="button" class="btn btn-danger ml-1">Restaurante</button>
      <button type="button" class="btn btn-danger ml-1">Solicitare Eveniment</button>
      <button type="button" class="btn btn-danger ml-1">Publicitate pe Site</button>
    </div>
</nav>
<nav class="navbar">
  <div class="tavlink" id="foa" (mouseover)="changeView($event)" (mouseout)="changeView($event)">
    <a ><h1 style="line-height: 2px">www.restaurante-craiova.ro</h1></a>
  </div>
</nav>

