  .tzy{
    margin-top: 10px;
    margin-left: 285px;
    width: 870px;
    height: 40px;
  }

.margin-40px-bottom {
  margin-bottom: 40px;
}

.container{
  margin-top: 10px;
  margin-left: 270px;
  width: 900px;
}
img{
  height: 160px;
  width: 240px;
}

.btn-sm{
  margin-left: 450px;
  margin-bottom: 0;
}
